extends layout

block content
  h1= title
  p Welcome to #{title}

    p lalalalalala
    p.
     dolor sit amet, consectetur adipiscing elit. Nullam elementum nibh quis interdum semper. Nam nec orci sed tellus ornare convallis. Integer condimentum sollicitudin finibus. Aliquam erat volutpat. Suspendisse potenti. Sed ultrices urna vel est faucibus, eget gravida enim mollis. Nullam eu tristique nulla. In condimentum, ipsum in lobortis venenatis, elit enim eleifend purus, vel tempus justo massa et risus. Maecenas feugiat est at ligula aliquam, hendrerit fringilla mauris accumsan. Phasellus quis erat condimentum, efficitur ligula ut, vehicula dolor.
   