doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    meta(name='description', content='We offer monthly and annual fire inspections, repairs and troubleshooting in Metro Vancouver and Fraser Valley area.')
    meta(property='og:locale', content='en_CA')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Ohmtech Fire Protection -  Vancouver Fire Protection')
    meta(property='og:description', content='We offer monthly and annual fire inspections, repairs and troubleshooting in Metro Vancouver and Fraser Valley area.')
    meta(property='og:site_name', content='Ohmtech Fire Protection')
    meta(property='og:url', content='http://ohmtech.ca')
    title= Ohmtech Fire Protection -  Vancouver Fire Protection
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700')(rel='stylesheet')(type='text/css')
      link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700')(rel='stylesheet')(type='text/css')
      link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')(rel='stylesheet')
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
body
    block content
    
    block js
      script(src='//cdnjs.cloudflare.com/ajax/libs/validate.js/0.9.0/validate.min.js')
      script(src='/js/app.js')
    //   script(src='/js/vendors.js')
        

    