extends /layout

block content
    header.header
        div.container
            div.row
                div.col-xs-12.col-sm-4
                    nav.navbar.text-xs-center
                        // ul.nav.navbar-nav
                        //     li.nav-item
                        //         a.nav-link(href="") Our Services
                        //     li.nav-item
                        //         a.nav-link(href="") Contact Us
                div.col-xs-12.col-sm-4.text-xs-center
                    h1.navbar__logo
                        a.navbar__logo__link(href='')
                            img.navbar__logo__img(src='/img/ohmtech_horizontal_color_2x.png')
                div.col-xs-12.col-sm-4
                    // nav.navbar.text-xs-center
                    //     ul.nav.navbar-nav
                    //         li.nav-item.nav-item--right
                    //             a.nav-link #[i.fa.fa-phone] 1.604.123.1234
            
        
    div.section.section--splash.photo
        // div.jumbotron.jumbotron-fluid
        //     div.container
        //         h1.display-3.title Welcome
        //         p.lead.
        //             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quidem perspiciatis nobis esse, adipisci, doloremque impedit animi debitis, dolores odit numquam mollitia molestiae, enim. Voluptate distinctio corporis, dolor architecto. Asperiores?
        
     div.section
        div.container
            div.row
                div.col-xs-12.col-sm-12.col-lg-6
                    h1.section__title Ohmtech Fire Protection Ltd.
                    p.section__subheader.
                        We offer monthly and annual fire inspection, repairs and troubleshooting of all types of fire alarm panels, fire extinguishers, emergency lights, back flow preventers, sprinkler systems, fire pumps, in-suite inspections of smoke alarm and detectors. #[br]24 hour service to Metro Vancouver and Fraser Valley.
                div.col-xs-12.col-sm-12.col-lg-6
                    form.contact__form.contact__form--splash(method='POST')
                        h4.section__title Get a quote for free
                        div.form-group.row
                            div.col-sm-12
                                input.form-control(type='email')(placeholder='Email')(name='email')
                                label.float-label.input-label Email
                        div.form-group.row
                            div.col-sm-12
                                input.form-control(type='text')(placeholder='Full Name')(name='name')
                                label.float-label.input-label Full Name
                        div.form-group.row
                            div.col-sm-12
                                input.form-control(type='text')(placeholder='Company')(name='company')
                                label.float-label.input-label Company
                        div.form-group.row
                            div.col-sm-12
                                textarea.form-control(rows='3')(placeholder='Your message')(name='message')
                                label.float-label.input-label Your message
                        div.form-group.row
                            div.col-sm-12.text-xs-right
                                button.btn.btn-primary.btn-contact-submit(type='submit') Request a quote
                        div.form__overlay.text-xs-center.hide
                            i.fa.fa-spinner.fa-spin.fa-5x.form__overlay__icon
                            h4.form__overlay__status Sending
     div.section.section--padding.border-top.section-services
        div.container
            div.row
                div.col-xs-12.text-xs-center
                    p.section__subheader  We are a #[span.text-bold fully insured company] that provides service for commercial and residential customers.                    
            div.row
                .col-xs-10.col-xs-offset-1.col-md-4.col-md-offset-2.section-services__service
                    .card.card-block
                        div.card-icon
                            i.fa.fa-circle-thin.fa-2x
                        h4.card-title Annual Fire Alarm Inspections
                        p.card-text In-suite inspections of smoke alarm, heat detectors and suite busser.
                .col-xs-10.col-xs-offset-1.col-md-4.col-md-offset-1.section-services__service
                    .card.card-block
                        div.card-icon
                            i.fa.fa-circle-thin.fa-2x
                        h4.card-title Fire Extinguishers
                        p.card-text Sales, service &amp; maintenance.
            div.row             
                .col-xs-10.col-xs-offset-1.col-md-4.col-md-offset-2.section-services__service
                    .card.card-block
                        div.card-icon
                            i.fa.fa-circle-thin.fa-2x
                        h4.card-title Emergency Lights
                        p.card-text Remote heads, bulbs. All battery sizes. Exit signs.
                .col-xs-10.col-xs-offset-1.col-md-4.col-md-offset-1.section-services__service
                    .card.card-block
                        div.card-icon
                            i.fa.fa-circle-thin.fa-2x
                        h4.card-title Fire hoses
                        p.card-text Testing &amp; maintenance.
            div.row             
                .col-xs-10.col-xs-offset-1.col-md-4.col-md-offset-2.section-services__service
                    .card.card-block
                        div.card-icon
                            i.fa.fa-circle-thin.fa-2x
                        h4.card-title Sprinkler systems
                        p.card-text Testing, repairs for wet &amp; dry systems;
                .col-xs-10.col-xs-offset-1.col-md-4.col-md-offset-1.section-services__service
                    .card.card-block
                        div.card-icon
                            i.fa.fa-circle-thin.fa-2x
                        h4.card-title Fire hydrants
                        p.card-text Testing &amp; repairs.
            div.row             
                .col-xs-10.col-xs-offset-1.col-md-4.col-md-offset-2.section-services__service
                    .card.card-block
                        div.card-icon
                            i.fa.fa-circle-thin.fa-2x
                        h4.card-title Fire pumps
                        p.card-text Testing &amp; maintenance.
                .col-xs-10.col-xs-offset-1.col-md-4.col-md-offset-1.section-services__service
                    .card.card-block
                        div.card-icon
                            i.fa.fa-circle-thin.fa-2x
                        h4.card-title Backflow preventer
                        p.card-text Testing &amp; repairs.                   
            div.row
                div.col-xs-12.text-xs-center
                    p.section__subheader  Our technicians are #[span.asttbc.text-bold ASTTBC Certified]. We perform inspections according with the #[a(href='http://www.qp.gov.bc.ca/testing/wlap/firecode.htm')(target='_blank') BC Fire Code] and NFPA.
                            
button.navbar-toggle.hidden-sm-up(type='button')(data-toggle='collapse')(data-target='#exCollapsingNavbar2') &#9776;
                      